<div class="row">
  <div class="medium-10 medium-centered columns">
    <h1>Add a TV show manually</h1>
  </div>
</div>

<div class="row">
  <div class="medium-10 medium-centered columns">
    
    <%= form_for ([current_user, @entry]) do |form| %>

        <%= form.label :title %>
        <%= form.text_field :title %>

        <%= form.label :lastepisode %>
        <%= form.text_field :lastepisode %>

        <%= form.label :lastseason %>
        <%= form.text_field :lastseason %>

        <%= form.label :releaseday %>
        <%= form.text_field :releaseday %>

        <%= form.label 'Link to the stream or download page' %>
        <%= form.text_field :link %>
        
        <%= form.submit 'Add TV Show', :class => 'button tiny' %>

    <% end %>
    
  </div>
</div>