<div class="row">
  <div class="medium-12 medium-centered columns">
    <table class="serieslist">
      <thead>
	      <tr>
	        <th>Series Title</th>
	        <th>Last Episode Watched</th>
	        <th>Episodes Available</th>
	        <th>Weekday</th>
	        <th colspan="2">Edit</th>
	      </tr>
      </thead>

      <tbody>
      <% @user_shows.each do |user_show| %>
          <tr>
            <td><%= link_to user_show.show.title, url_with_protocol(user_show.link), :target => '_blank' %></td>
            <td><%= link_to '+', last_season_up_path(:show_id => user_show.show_id) %>
              <%= link_to '-', last_season_down_path(:show_id => user_show.show_id) %> 
              S: <%= user_show.lastseason %> - E: <%= user_show.lastepisode %> 
              <%= link_to '+', last_episode_up_path(:show_id => user_show.show_id) %>
              <%= link_to '-', last_episode_down_path(:show_id => user_show.show_id) %></td>
            <td><%= user_show.episodes_available %>
            	<%= link_to '+', episodes_available_up_path(:show_id => user_show.show_id) %>
                <%= link_to '-', episodes_available_down_path(:show_id => user_show.show_id) %> </td>	
            <td><%= user_show.show.airday %></td>	
            <td style="text-align: center"><%= link_to 'E', edit_user_user_show_path(current_user, user_show) %></td>
            <td style="text-align: center"><%= link_to 'X', user_user_show_path(current_user, user_show), :method => :delete %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="medium-12 medium-centered columns">
    <%= link_to 'Search TV Show', new_search_path, :class => 'button tiny' %>
  </div>
</div>