<div class="row">
  <div class="medium-10 medium-centered columns">
    <h1>List of your series</h1>
  </div>
</div>

<% if !@entries.nil? %>

<div class="row">
  <div class="medium-10 medium-centered columns">
      <table>
          <thead>
          <tr>
            <th>Serie</th>
            <th>Letzte Episode</th>
            <th>Letzte Staffel</th>
            <th>Wochentag</th>
            <th>Rating</th>
          </tr>
          </thead>

          <tbody>
          <% @entries.each do |entry| %>
              <tr>
                <td><%= link_to entry.title, edit_user_entry_path(current_user, entry) %></td>
                <td><%= entry.lastepisode %> <%= link_to '+', {:controller => 'entries' , :action => 'episode_up', :entry_id => entry.id} %>|
                  <%= link_to '-', {:controller => 'entries' , :action => 'episode_down', :entry_id => entry.id} %></td>
                <td><%= entry.lastseason %>  <%= link_to '+', {:controller => 'entries' , :action => 'season_up', :entry_id => entry.id} %>|
                  <%= link_to '-', {:controller => 'entries' , :action => 'season_down', :entry_id => entry.id} %></td>
                <td><%= entry.releaseday %></td>
                <td><%= entry.rating %></td>
                <td><%= link_to 'X', user_entry_path(current_user, entry), :method => :delete, data: { confirm: "Are you sure to delete this entry?" } %></td>
              </tr>
          <% end %>
          </tbody>
      </table>
  </div>
</div>

<div class="row">
  <div class="medium-10 medium-centered columns">
    <%= link_to 'New entry', new_user_entry_path(:user_id => current_user), :class => 'button tiny' %>
  </div>
</div>

<% else %>

<div class="row">
  <div class="medium-10 medium-centered columns">
    <h2>An error occured. This user has no list.</h2>
  </div>
</div>

<% end %>

