<% if (!current_user.nil?) %>
<% if (current_user.role == 'admin') %>
	<div class="row">
		<div class="medium-12 columns">
			<%= link_to 'Write new news', new_news_path, :class => 'button tiny' %>
	    </div>
	</div>
<% end %>
<% end%>

<div class="row">
	<div class="medium-12 medium-centered columns">
		<% @news.each do |news|  %>
		
		  <article class="panel">
		    <h3><%= news.title %> <small>written by <%= news.user.name %> on <%= news.created_at.strftime('%d %b %Y') %></small></h3>
		    <p><%= news.text %></p>
		  </article>
		
		<% end %>
  </div>
</div>
