<div class="row">
  <div class="medium-10 medium-centered columns">
    <h1>News</h1>
  </div>
</div>

<% if current_user.role = 'admin' %>
	<div class="row">
		<div class="medium-10 medium-centered columns">
			<%= link_to 'New news', new_news_path, :class => 'button tiny' %>
	    </div>
	</div>
<% end%>

<div class="row">
  <div class="medium-10 medium-centered columns">

	    <% @news.each do |news|  %>
	
	      <article class="panel">
	        <h3><%= news.title %> <small>written by <%= news.user.name %> on <%= news.created_at.strftime('%d %b %Y') %></small></h3>
	        <p><%= news.text %></p>
	      </article>
	
	    <% end %>
    
  </div>
</div>

