<div class="row">
  <div class="medium-10 medium-centered columns">
    <h1>Search for a TV show</h1>
  </div>
</div>

<div class="row">
  <div class="medium-10 medium-centered columns">
    
    <%= form_for @search do |form| %>

        <%= form.label :name %>
        <%= form.text_field :name %>
        
        <%= form.submit 'Search TV Show', :class => 'button tiny' %>

    <% end %>
    
  </div>
</div>

<% if (!@shows.nil?) %>

	<div class="row">
	  <div class="medium-10 medium-centered columns">
		<article class="panel callout">Beim hinzufügen einer Serie können Ladezeiten entstehen, da die Serieninfos zunächst heruntergeladen werden müssen.</article>  
	  </div>
	</div>

	<div class="row">
	  <div class="medium-10 medium-centered columns">
	  	<% @shows.each do |name, show_id| %>
	  		<article class="panel">
	  			<h4><%= name %> <small><%= link_to 'add to list', add_path(:show_id => show_id) %></small></h4>
	      	</article>
	  	<% end %>
	  </div>
	</div>`
<% end %>
